:root {
  /* font */
  --main-font: Roboto, sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* text colors */
  --main-txt-cl: #291600;
  --accent-cl: #a84402;
  --title-cl: #e4e4e4;
  --accent-txt-cl: #0b5493;

  /* Animation */
  --main-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*
============================
| Logo / Логотип компании
============================
*/
.header-logo {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-right: 160px;
}
/*
============================
| Header section / Шапка сайта
============================
*/
.header {
  border-bottom: 1px solid #b2b2b2;
  background-color: #c1c1c1;
}
.container {
  display: flex;
  align-items: center;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header-nav .link {
  color: #212121;
}
.header-nav .current {
  color: var(--accent-cl);
}

.header-nav .link:hover,
.header-nav .link:focus {
  color: var(--accent-cl);
}

.header .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-nav .list,
.header-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.header .item {
  margin-right: 50px;
}
.nav .item:last-child {
  margin-right: 0;
}

.header-list .item:last-child {
  margin-right: 0;
}

.header-list .link {
  display: flex;
  align-items: center;
  transition: color var(--main-animation);
  color: var(--main-txt-cl);
}

.header-list .link:hover,
.header-list .link:focus {
  color: var(--accent-cl);
}

.header-list .icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-list .icon:hover,
.header-list .icon:focus {
  color: var(--accent-cl);
}

/*
============================
| Hero section / Герой
============================
*/
.hero,
.gallery {
  /* max-width: 1600px; */
  height: 700px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bcg-gray-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-container,
.services-container {
  display: flex;
  justify-content: space-between;
}
.hero-img {
  height: 600px;
  margin-top: 50px;
}

.hero-text,
.services-text,
.gallery-text,
.gallery-img_text {
  font-size: 25px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}
.hero-text.first,
.gallery-text.first {
  text-transform: uppercase;
  margin-bottom: 40px;
}
.hero-title {
  font-size: 44px;
  line-height: 1.4;
  width: 500px;
  margin-bottom: 25px;
  color: var(--title-cl);
}

.services,
.reviews {
  max-width: 1600px;
  height: 650px;
  margin-right: auto;
  margin-left: auto;
}
.services-container {
  justify-content: center;
  gap: 120px;
}
.services-img {
  height: 550px;
  margin-top: 45px;
}

.services-title {
  margin-bottom: 40px;
  font-size: 40px;
  line-height: 1.4;
  width: 500px;
  color: var(--accent-txt-cl);
}
.services-text {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}
.services-list .icon {
  margin-right: 10px;
  fill: var(--accent-cl);
}
/* .gallery-title {
  color: var(--accent-cl);
} */

.gallery-container,
.contacts-container {
  flex-direction: column;
  align-items: flex-start;
}
.gallery-text_box {
  margin-top: 80px;
  margin-bottom: 80px;
}
.gallery-title {
  margin-bottom: 40px;
  font-size: 40px;
  line-height: 1.4;
  color: var(--accent-txt-cl);
}
.gallery-list,
.reviews-list,
.contacts-list {
  display: flex;
  flex-direction: row;
}
.gallery-link {
  margin-right: 20px;
}

.gallery-link:last-child,
.reviews-link:last-child {
  margin-right: 0;
}

.gallery-img_text {
  margin-top: 15px;
  text-align: center;

  font-size: 25px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}
.reviews-container {
  flex-direction: column;
}
/* .reviews {
  background-image: url(../images/bcg/bcg2.jpg);
} */
.reviews-title {
  margin-top: 80px;
  margin-bottom: 80px;
  font-size: 40px;
  line-height: 1.4;
  color: var(--main-txt-cl);
}
.reviews-link,
.contacts-link {
  margin-right: 60px;
  width: 350px;
}
.reviews-icon {
  fill: var(--accent-txt-cl);
  margin-bottom: 20px;
}
.reviews-text {
  margin-bottom: 20px;
  line-height: 2em;
  font-size: 16px;
}
.reviews-sign {
  color: var(--accent-txt-cl);
}

.contacts {
  height: 700px;
  margin-right: auto;
  margin-left: auto;
  background-color: #c1c1c1;
  /* background-image: url(../images/bcg/bcg2.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.contacts-title__main {
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 40px;
  line-height: 1.4;
  color: var(--main-txt-cl);
}
.contacts-title {
  color: var(--accent-txt-cl);
  margin-bottom: 20px;
}
.contacts-text {
  margin-bottom: 20px;
}
.accent-dark {
  font-weight: 700;
  margin-right: 45px;
}
.contacts-list__time {
  display: flex;
}
.map {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.contacts-list .link {
  color: var(--main-txt-cl);
}
.contacts-list .accent:hover,
.contacts-list .accent:focus,
.contacts-list .accent:hover {
  color: var(--accent-cl);
}
iframe {
  height: 360px;
  width: 80%;
  filter: grayscale(20%) contrast(93%);
}
#toTop {
  position: fixed;
  display: inline-block;
  bottom: 40px;
  right: -40px;
  width: 37px;
  height: 37px;
  z-index: 1000;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  background-color: rgba(159, 157, 157, 0.9);
}
#toTop:hover {
  background-color: var(--accent-color);
}

#toTop svg {
  position: relative;
  top: 11px;
  right: -1px;
  fill: #fff;
  transition: all 0.3s ease-in-out;
}

#toTop:hover svg {
  cursor: pointer;
  fill: #fff;
  transition: all 0.3s ease-in-out;
}

#toTop.showScroll {
  opacity: 1;
  visibility: visible;
  right: calc(2%);
  cursor: pointer;
  border-radius: 25%;
}
